
modules = ["nodejs-20", "web", "nix"]
run = "sh install-deps.sh && npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npm run preview"]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081

[[ports]]
localPort = 8082

[[ports]]
localPort = 8083

[[ports]]
localPort = 8084
externalPort = 3000

[[ports]]
localPort = 8085
externalPort = 3001

[[ports]]
localPort = 9005
externalPort = 3002

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Run Dev Server"
author = 40523456
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sh install-deps.sh && npm run dev"

[[workflows.workflow]]
name = "Dev Server"
author = 40523456
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sh install-deps.sh && npm run dev"

[[workflows.workflow]]
name = "Run Tests"
author = 40523456
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx tsx src/lib/test.ts"
